<%- include('includes/head.ejs')%>
</head>
<body>
    <%- include('includes/header.ejs')%>
<main>

<% if(books.length > 0){ %>
<section class="library-cards">
    <% for(let book of books){%>
    <article class="card-article">
        <header>
            <h2><%= book.title %></h2>
            <h3><%= book.author %></h3>
        </header>
        <img src="<%= book.image %>" alt="Image of <%= book.title %>" class="card-img">
        <p><%= book.description %></p>
        <h4>$<%= book.price %></h4>
        <form action="/nix-book" method="post" class="delete-form">
        <input type="hidden" name="serial" value="<%= book.serial %>">
        <button type="submit">Delete Book</button>
        </form>
    </article>
    <% } %>
</section>
    
<% } else { %>
    <h1 class="error">You've got a lot of work to do. The library is empty.</h1>
    <div id="confused-image"></div>
<% } %>
</main>
<%- include('includes/footer.ejs')%>